.footer {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  border-top: 1px solid #e5e7eb;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-top: 2rem;
}